%%-*- mode: erlang -*-
{erl_opts, [
    debug_info, 
    fail_on_warning,
    {i, "../include"},
    {i, "deps/couchbeam/include"}]}.

{deps, [
  {couchbeam, "0\.4\.4", {git, "http://github.com/benoitc/couchbeam.git",
""}},
  {mochiweb, "1\.3", {git, "http://github.com/benoitc/mochiweb.git", ""}}
]}.
